<div class="row text-center">
    <div class="col-12 m-3">
       <h3> Example of *ngFor vs for</h3>
    </div>
</div>

<div>
    <div>
        <select name="" id="" class="p-2">
            <!-- <option [value]="emp.empid" *ngFor="let emp of employees">
                {{emp.empname}}-{{emp.empmail}}
   track: Used by Angular to identify each item uniquely and optimize rendering.
            </option> -->
            @for (emp of employees; track emp) {
                <!-- !track: Used by Angular to identify each item uniquely and optimize rendering. -->
<option [value]="emp.empid">
                {{emp.empname}}-{{emp.empmail}}

            </option>
            }
        </select>
    </div>
</div>

<table  class="table table-striped">
    <thead>
        <tr>
            <th>Empname</th>
            <th>EmpID</th>
            <th>EmpMail</th>
            <th>EmpDept</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let emp of employees">
            <th>{{emp.empname}}</th>
            <th>{{emp.empid}}</th>
            <th>{{emp.empmail}}</th>
            <th>{{emp.empdept}}</th>
        </tr> -->
       @for (emp of employees; track emp) {
         <tr>
            <th>{{emp.empname}}</th>
            <th>{{emp.empid}}</th>
            <th>{{emp.empmail}}</th>
            <th>{{emp.empdept}}</th>
        </tr>
       }
    </tbody>
</table>

    <ol>
         @for (comp of companyList; track comp; let f=$first, l=$last, e=$even, c=$count, i=$index) {
            @if (f==true) {
                <li style="color: aquamarine;">{{comp}}</li>
            }
            @else if (l==true) {
                <li style="color: rgb(11, 11, 177);">
                    {{comp}}
                </li>
            }
            @else {
                <li>{{comp}}</li>
            }
         }
         @empty{
            No company exist or found....
         }
    </ol>
